# Configuration Base de données
DB_HOST=localhost
DB_NAME=eduschedulepro
DB_USER=root
DB_PASS=

# Configuration JWT
JWT_SECRET=eduschedulepro_secret_key_2025
QR_SECRET=eduschedulepro_qr_secret_2025
JWT_EXPIRATION=3600

# URL de base
BASE_URL=http://localhost/EduSchedule_Pro

# Frontend
REACT_APP_API_URL=http://localhost/EduSchedule_Pro/backend/api 
